.header_page nav, .header_page .sec-content, .pricing .pricing_wrap .box .header_price, footer .copyright .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px; }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  scroll-behavior: smooth; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

p {
  color: #777;
  padding: 18px 0;
  line-height: 1.4;
  font-size: 15px; }

.title, .download_section .content {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 80px; }
  .title h2, .download_section .content h2 {
    text-transform: capitalize;
    font-size: 30px; }

/* header */
.header_page {
  background-image: url("../img/banner/home-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom; }
  .header_page a img {
    padding-right: 10px; }
  .header_page nav {
    padding: 20px 0; }
    .header_page nav .links .link {
      transition: all 0.3s ease;
      color: #fff; }
      .header_page nav .links .link:hover {
        color: #fff;
        color: #03a9f4; }
  .header_page .sec-content {
    text-align: center;
    padding-top: 70px; }
    @media (min-width: 576px) {
      .header_page .sec-content {
        text-align: left; } }
    .header_page .sec-content .header_content h1 {
      color: #fff;
      font-size: 2rem; }
      @media (min-width: 992px) {
        .header_page .sec-content .header_content h1 {
          font-size: 3.5rem; } }
      @media (min-width: 768px) {
        .header_page .sec-content .header_content h1 {
          font-size: 3rem; } }
    .header_page .sec-content .header_content p {
      padding: 10px 0 0;
      color: #fff;
      font-size: 1.2rem;
      line-height: 1.5; }
    .header_page .sec-content .header_content a {
      color: #000;
      background-color: #fff;
      padding: 12px 35px;
      border-radius: 5px;
      text-transform: capitalize;
      font-size: 14px;
      display: inline-block;
      transition: all 0.4s ease-in-out;
      display: inline-block;
      margin-top: 25px; }
      .header_page .sec-content .header_content a:hover:not([type="email"]) {
        background-color: #03a9f4;
        color: #fff; }
    .header_page .sec-content figure {
      width: 40%;
      order: -1; }
      @media (min-width: 576px) {
        .header_page .sec-content figure {
          order: 1; } }

.features {
  padding: 100px 0; }
  .features .boxs .box {
    padding: 35px 20px;
    box-shadow: 1px 1px 4px 1px #e1dfdf; }
    .features .boxs .box:hover {
      box-shadow: 1px 1px 5px 1px rgba(122, 118, 128, 0.397);
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .features .boxs .box h3 {
      text-transform: capitalize;
      font-size: 17px;
      padding-bottom: 15px;
      letter-spacing: 1.3px; }
    .features .boxs .box img {
      padding-bottom: 20px;
      width: 40px; }
    .features .boxs .box p {
      color: #777;
      padding: 0;
      line-height: 1.4;
      font-size: 17px; }
    @media (min-width: 992px) {
      .features .boxs .box:hover {
        transform: scale(1.1);
        transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        cursor: pointer; } }

.interior_1, .interior_2 {
  padding: 80px 0;
  background-color: #f5f8fd; }
  .interior_1 .content_sections h1, .interior_2 .content_sections h1 {
    font-size: 2rem;
    text-transform: capitalize; }
  .interior_1 .content_sections a, .interior_2 .content_sections a {
    color: #fff;
    background-color: #fff;
    padding: 12px 35px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to bottom, #5f55ea, #9646db);
    margin: 20px 0; }
    .interior_1 .content_sections a:hover:not([type="email"]), .interior_2 .content_sections a:hover:not([type="email"]) {
      background-color: #03a9f4;
      color: #fff; }

/* video */
.vedio-section {
  padding: 80px 0;
  position: relative;
  text-align: center; }
  .vedio-section video {
    object-fit: cover;
    max-width: 100%; }
  .vedio-section .play {
    position: absolute;
    width: 70px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2; }

/* video */
.pricing {
  padding: 80px 0;
  background-color: #f5f8fd; }
  .pricing .pricing_wrap .box {
    background-color: #fff; }
    .pricing .pricing_wrap .box:hover {
      box-shadow: 1px 1px 5px 1px #31363666;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .pricing .pricing_wrap .box .header_price {
      border-bottom: 1px solid #ccc;
      padding: 40px; }
      .pricing .pricing_wrap .box .header_price h3 {
        padding: 0; }
        .pricing .pricing_wrap .box .header_price h3 small {
          display: block;
          color: #777;
          padding-top: 10px; }
      .pricing .pricing_wrap .box .header_price span {
        font-weight: bold;
        font-size: 2rem; }
    .pricing .pricing_wrap .box .price_body {
      padding: 40px;
      text-align: center; }
      .pricing .pricing_wrap .box .price_body p {
        line-height: 2;
        text-transform: capitalize;
        font-size: 18px;
        padding-bottom: 30px;
        padding-top: 0; }
      .pricing .pricing_wrap .box .price_body a {
        color: #000;
        background-color: #f5f8fd;
        padding: 12px 35px;
        border-radius: 5px;
        text-transform: capitalize;
        font-size: 14px;
        display: inline-block;
        transition: all 0.4s ease-in-out;
        border: 1px solid #ccc; }
        .pricing .pricing_wrap .box .price_body a:hover:not([type="email"]) {
          background-color: #03a9f4;
          color: #fff; }

.screenshots {
  padding: 80px 0; }
  .screenshots figure img:hover {
    transform: scale(1.1);
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); }

.testmonails {
  padding: 80px 0;
  background-color: #f5f8fd; }
  .testmonails .testmonails_box {
    background-color: #fff;
    justify-content: center;
    padding: 30px 0; }
    .testmonails .testmonails_box figure {
      width: 60px; }
    .testmonails .testmonails_box .testmonails_content {
      width: 70%; }
      .testmonails .testmonails_box .testmonails_content p {
        font-size: 14px;
        padding-top: 0; }
      .testmonails .testmonails_box .testmonails_content h5 {
        text-transform: capitalize;
        padding-bottom: 5px; }
      .testmonails .testmonails_box .testmonails_content span {
        color: #777; }

.download_section {
  padding: 80px 0;
  color: #fff;
  background-image: linear-gradient(to bottom, #5f55ea, #9646db);
  text-align: center; }
  .download_section .content {
    padding-bottom: 0; }
    .download_section .content p {
      color: #fff;
      padding-bottom: 25px; }
    .download_section .content a {
      color: #fff;
      background-color: transparent;
      padding: 12px 35px;
      border-radius: 5px;
      text-transform: capitalize;
      font-size: 14px;
      display: inline-block;
      transition: all 0.4s ease-in-out;
      display: inline-flex;
      justify-content: center;
      border: 1px solid #ccc;
      padding: 12px 25px; }
      .download_section .content a:hover:not([type="email"]) {
        background-color: #03a9f4;
        color: #fff; }
      .download_section .content a i {
        font-size: 30px;
        font-weight: normal; }
        .download_section .content a i.apple {
          font-size: 35px; }
      .download_section .content a span {
        padding-left: 15px;
        font-size: 15px;
        width: 120px;
        font-weight: 900;
        text-align: left; }

.news {
  padding: 100px 0; }
  .news .boxs .box {
    background-color: #f5f8fd;
    padding: 40px; }
    .news .boxs .box:hover {
      box-shadow: 1px 1px 5px 1px #31363626;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    .news .boxs .box a {
      color: #777;
      background-color: #fff;
      padding: 12px 35px;
      border-radius: 5px;
      text-transform: capitalize;
      font-size: 14px;
      display: inline-block;
      transition: all 0.4s ease-in-out;
      padding: 7px 20px;
      border: 1px solid #ccc; }
      .news .boxs .box a:hover:not([type="email"]) {
        background-color: #03a9f4;
        color: #fff; }
    .news .boxs .box h3 {
      padding: 25px 0 0;
      text-transform: uppercase;
      line-height: 1.5;
      font-size: 1.5rem; }
    .news .boxs .box div {
      padding: 15px 0; }
      .news .boxs .box div span {
        margin-right: 3px;
        color: #777; }
        @media (min-width: 576px) {
          .news .boxs .box div span {
            margin-right: 20px; } }
        .news .boxs .box div span i {
          margin-right: 10px; }
          .news .boxs .box div span i:last-child {
            transform: rotateY(180deg); }

footer {
  background-color: #000000cf;
  padding: 100px 0;
  color: #fff; }
  footer .footer_content .products ul {
    padding-left: 0; }
    footer .footer_content .products ul li {
      color: #fff;
      padding-bottom: 15px;
      font-size: 20px;
      text-transform: capitalize; }
      footer .footer_content .products ul li:last-child {
        padding-bottom: 0; }
  footer .footer_content .newsLetter p {
    padding: 0 0 25px; }
  footer .footer_content .newsLetter form .email {
    color: #fff;
    background-color: #fff;
    padding: 12px 35px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    padding: 14px 25px;
    width: 69%;
    border: none;
    border-radius: 50px;
    color: #000; }
    footer .footer_content .newsLetter form .email:hover:not([type="email"]) {
      background-color: #03a9f4;
      color: #fff; }
    footer .footer_content .newsLetter form .email:focus {
      outline: none; }
  footer .footer_content .newsLetter form .submit {
    color: #fff;
    background-color: #fff;
    padding: 12px 35px;
    border-radius: 5px;
    text-transform: capitalize;
    font-size: 14px;
    display: inline-block;
    transition: all 0.4s ease-in-out;
    background-image: linear-gradient(to right, #9646db 50%, #5f55ea);
    border: none;
    border-radius: 50px;
    margin-left: -50px;
    padding: 15px 35px; }
    footer .footer_content .newsLetter form .submit:hover:not([type="email"]) {
      background-color: #03a9f4;
      color: #fff; }
  footer .footer_content .imgs img:hover {
    transform: scale(1.1);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer; }
  footer .copyright {
    padding-top: 70px; }
    footer .copyright p {
      padding: 0;
      font-size: 17px;
      color: #fff;
      line-height: 2; }
      footer .copyright p i,
      footer .copyright p span {
        color: #9646db; }
    footer .copyright .icon span {
      padding: 8px;
      background-color: #000;
      border-radius: 5px; }
  footer h4 {
    font-size: 23px;
    text-transform: uppercase;
    padding: 0 0 30px; }
