$primary-text :#fff;
$sec-color : #ffffffad;
$bc-sec:#f5f8fd;
$pragraph-color:#777;
$br-color:#ccc;
$black:#000;
$pd-scc : 80px;
$capital : capitalize;


  // screens breakpoint
  $small : 576px;
  $medium : 768px;
  $large : 992px;
  $x-large : 1200px;
  $xx-large : 1400px;
  